<!DOCTYPE html>
<html lang="en">


<head>
    <title>My Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static "tribble/style.css" %}"</link>
</head>

<body>
<div class="scoreboard">
  <div class="team gsw win">
    <div class="rank">1</div>
    <img class="logo" src="http://i.cdn.turner.com/nba/nba/teamsites/images/legacy/warriors/1112_GSW3_300.png"></img>
    <div class="name">GSW</div>
    <div class="score">125</div>
    <div class="record">4</div>
  </div>
  <div class="divider"><p>FINAL</p></div>
  <div class="team utc">
    <div class="rank">8</div>
    <img class="logo" src="http://www.stickpng.com/assets/images/58419bb6a6515b1e0ad75a55.png"></img>
    <div class="name">UTA</div>
    <div class="score">99</div>
    <div class="record">0</div>
  </div>
</div>
<div class="subtitle"><b>GSW</b> advanced to 2nd Round 4-0</div>
</body>
</html>

